:root {
  --border-radius: 8px;
  --pad: 0.25rem 0.5rem;

  --fs-h1: 4rem;
  --fs-h2: 2rem;
  --fs-h3: 1.5rem;
  --fs-h4: 1.2rem;

  --back: rgb(236, 236, 236);
  --color: rgb(0, 0, 0);
  --red: rgb(255, 0, 0);
}

:root .darkTheme {
  --back: rgb(0, 0, 0);
  --color: rgb(255, 255, 255);
}
