footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 3rem;

  nav {
    padding: 0 2rem;

    width: 1380px;
    max-width: calc(100% - 2rem);
    height: 100%;

    background-color: var(--color);
    color: var(--back);
    border-top-left-radius: var(--border-radius);
    border-top-right-radius: var(--border-radius);

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
  }
}
