.categories {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  a.linkAdmin {
    align-self: flex-end;
  }
}

.categories ul {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  gap: 0.5rem;
  margin: 2rem;

  li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.5rem;
    width: 100%;
  }
}
